<mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="play">
            <th mat-header-cell *matHeaderCellDef class="action-cell"> Play </th>
            <td mat-cell class="action-cell" *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-mini-fab (click)="onPlay(element)">
                        <mat-icon matTooltip="Play">
                            <span class="material-symbols-outlined">
                                play_circle
                                </span>
                        </mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="copy">
            <th mat-header-cell *matHeaderCellDef class="action-cell"> Copy link </th>
            <td mat-cell class="action-cell" *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-mini-fab (click)="onCopy(element)">
                        <mat-icon matTooltip="Copy link to clipboard">
                            <span class="material-symbols-outlined">
                                share
                            </span>
                        </mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef class="action-cell"> Modify </th>
            <td mat-cell class="action-cell" *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-mini-fab (click)="onModify(element)">
                        <mat-icon matTooltip="Modify animation">
                            <span class="material-symbols-outlined">
                                modify
                            </span>
                        </mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="action-cell"> Delete </th>
            <td mat-cell class="action-cell" *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-mini-fab (click)="onDelete(element)">
                        <mat-icon matTooltip="Delete animation">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
<div style="position: relative; top: 80px !important; height: 33rem;">
<mat-card style="margin: 1rem 0rem; padding: 1rem; top: 0 !important;">
    <!--Create/Modify video-->
    <form class="my-video-form" (ngSubmit)="videoSubmit(myVideoForm)" #myVideoForm="ngForm">
        <mat-form-field [ariaDisabled]="modifyMode" class="mat-form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" [ngModel]="" id="name" name="name"
            required autocomplete="off" placeholder="Name" #name="ngModel">
            <mat-error *ngIf="name.hasError('required')">Required to fill!</mat-error>
        </mat-form-field>
        <br>
        <div class="mat-form-field" [ariaDisabled]="modifyMode" appearance="outline">
            <mat-label *ngIf="selectedFile == undefined || selectedFile == null">Upload new audio file</mat-label>
            <span class="file-name">{{selectedFile?.name}}</span>
            <button type="button" mat-raised-button (click)="file.click()">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #file type="file" accept="audio/*">
        </div>
        <div style="float: right; width: 75%; height: 20rem; position: relative; top: -5rem;">
            <mat-label>JSON</mat-label>
            <ngx-monaco-editor class="monaco-editor" [options]="editorOptions"
            [(ngModel)]="JSONFile" name="json" id="json"
            (paste)="formatJSON()" required #json="ngModel"></ngx-monaco-editor>
            <mat-error *ngIf="json.hasError('required')">Required to fill!</mat-error>
            <button class="btn btn-primary" style="margin-top: 0.45rem !important;" type="button" (click)="formatJSON()">format</button>
        </div>
        </form>
        <mat-card-actions>
            <button class="btn-primary" (click)="videoSubmit(myVideoForm)"
            [disabled]="myVideoForm.invalid || (modifyMode && json.invalid)">Submit</button>
            <button class="btn btn-primary" type="button" (click)="resetForm(myVideoForm)">Cancel</button>
        </mat-card-actions>
</mat-card>
</div>