<body style="margin: 0px; display: grid;">
  <h1 style="margin-left: 1rem;">{{dialogData.header}}</h1>
  <div id="container" (click)="playOnDiv()" style="display: inline-block; position: sticky; margin: 0 1rem;">
  </div>
  <div id="audio-div">
      <audio id="my-audio" controls (play)="animateFunc()" (pause)="animateFunc()" (ratechange)="rateChange()" preload="metadata"
        style=" bottom: 0px; position: absolute; margin-left: 1rem; width: 60vw !important; max-width: 176vh !important;">
        </audio>
  </div>
</body>
