<div class="toolbar">
  <a aria-label="Home" class="menu-item" routerLink="/home" routerLinkActive="active" title="Home">
    Home
  </a>
  <a aria-label="Password and authentication" class="menu-item" routerLink="/password_and_authentication" routerLinkActive="active" title="Password and authentication">
    Password and authentication
  </a>
  <a aria-label="Phishing" class="menu-item" routerLink="/phishing" routerLinkActive="active" title="Phishing">
    Phishing
  </a>
  <a aria-label="Password" class="menu-item" routerLink="/password_security" routerLinkActive="active" title="Password security">
    Password security
  </a>
  <a *ngIf="!germanPage" aria-label="Mobile device security" class="menu-item" routerLink="/mobile_device_security" routerLinkActive="active" title="Mobile device security">
    Mobile device security
  </a>
  <a *ngIf="germanPage" aria-label="Sicherheit mobiler Geräte" class="menu-item" routerLink="/mobile_device_security-german" routerLinkActive="active" title="Sicherheit mobiler Geräte">
    Sicherheit mobiler Geräte
  </a>
  <a *ngIf="user.loggedIn" aria-label="My videos" class="menu-item" routerLink="/my_videos" routerLinkActive="active" title="My vidoes">
    My videos
  </a>
  <a *ngIf="user.loggedIn" aria-label="Transformator" class="menu-item" routerLink="/transformator" routerLinkActive="active" title="Image transformator">
    Transformator
  </a>
  <div class="authed-user-div" *ngIf="!user.loggedIn">
    <button class="menu-item" (click)="login()">
      <span class="material-symbols-outlined" style="font-weight: 600; color: whitesmoke;">login</span>
    </button>
  </div>
  <div class="authed-user-div" *ngIf="user.loggedIn">
    <p>Hello {{user.name}}!</p>
    <p>({{user.email}})</p>
  </div>
</div>

<router-outlet></router-outlet>
