<style>
</style>

<div class="toolbar">
  <a aria-label="Home" class="menu-item" routerLink="/" title="Home">
    Home
  </a>
  <a aria-label="Phishing" class="menu-item" routerLink="/phishing" title="Phishing">
    Phishing
  </a>
  <a aria-label="Password" class="menu-item" routerLink="/password_security" title="Password security">
    Password security
  </a>
  <a aria-label="Transformator" class="menu-item" routerLink="/transformator" title="Transformator">
    Transformator
  </a>
</div>

<router-outlet></router-outlet>
