@import "../node_modules/css-star-rating/css/star-rating.css";

body {
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  box-shadow: 0px 0px 5px 0px !important;
  left: 20px !important;
  width: calc(100% - 40px);
  top: 80px !important;
  //height: calc(100% - 100px);
}

mat-card-content {
  font-size: 40px;
  font-family: American Typewriter;
  text-align: center;
  margin: auto;
}

audio, button {
  grid-row: 1;
  grid-column: 1;
}

#container {
width: 1200px;
height: 675px;
display: inline-block;
top: 0;
left: 0;
perspective: 1000px;
overflow: hidden;
}

.my-audio
.my-shared-videos-audio
.my-dialog-audio
.my-mobile-device-security-audio
.my-mobile-device-security-german-audio
.my-pw-and-auth-audio
.my-pw-security-audio
.my-phishing-audio {
bottom: 0px;
width: 1200px;
position: absolute;
}

#audio-div {
height: 50px;
width: 1200px;
top: -50px;
position: relative;
}

.media-controls.inline > .controls-bar {
top: initial !important;
bottom: 0px;
}
